* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url("img/view-stone-building-with-coarse-plaster-surface 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    user-select: none;
}

nav {
    padding: 35px 8%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

nav ul li::after {
    content: '';
    height: 1px;
    width: 0%;
    background: white;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
    display: block;
    margin: auto;
}

nav ul li:hover::after {
    width: 100%;
}

/*------BANNER--------*/

.text-box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 209px;
    color: #fff;
    font-weight: 300;
    user-select: none;
}

@media screen and (max-width: 700px) {
    .text-box h1 {
        font-size: 100px;
        color: #fff;
        font-weight: 300;
    }
}

.container {
    display: inline-block;
}

.text-box p {
    color: #8c8c8c;
    padding: 1em 0 5em 0;
}

.start-btn {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 20px 50px;
    font-size: 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
    transition: .5s;
}

.start-btn:hover {
    color: #000;
    background: #fff;
    transition: .5s;
}

.soc-media img {
    padding-right: 20px;
}

/*--------------SEC-BLOCK--------------*/

.sec-textbox {
    text-align: center;
    padding: 4% 0 4% 0;
}

.sec-textbox h1 {
    font-size: 50px;
}

.sec-textbox h4 {
    color: #A0A0A0;
    font-weight: 300;
}

.sec-block {
    padding: 0 10%;
}

/*------------COLLAGE-----------*/

.collage {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 3fr;
    grid-template-rows: repeat(2, 250px);
    gap: 40px;
}

.first {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("img/modern-kitchen-interior-design(1).jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.second {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("img/modern-kitchen-with-contemporary-interior-decor-furnishings 1.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.third {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("img/bathroom-sink-hotel-room 1.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.fourth {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("img/modern-kitchen-interior-design.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.fifth {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("img/photorealistic-stone-wall-surface-used-interior-design.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.sixth {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("img/11-595x698 1.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

/*------------COLLAGE-----------*/

.sep h1 {
    font-size: 50px;
    text-align: center;
    padding: 4% 0 4% 0;
}

/*------------CONTAINER-----------*/

.sec-container {
    display: flex;
    flex-direction: row;
    /*border: 2px solid #795238;*/
    border-radius: 20px;
    overflow: hidden;

    padding: 3% 10% 0 10%;
}

.image-block {
    flex: 1;
}

.image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*border-top-left-radius: 20px;*/
    /*border-bottom-left-radius: 20px;*/
    border-radius: 20px;
}

.text-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*border-top: 1px solid #000;*/
    /*border-bottom: 1px solid #000;*/
    /*border-right: 1px solid #000;*/
    /*border-top-right-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
}

.text-block h2 {
    padding: 0 20px 50px 20px;
    font-size: 45px;
    text-align: center;
}

.text-block p {
    padding: 0 50px 60px 50px;
    font-size: 20px;
    color: #595959;
    text-align: center;
}

.second-contact-button {
    color: black;
    display: block;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #000;
}

.second-contact-button:hover {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: 0.5s;
}

/*-----------CONTAINER------------*/

.third-container {
    padding: 2% 10% 0 10%;
}

.third-container p {
    text-align: center;
}

/*--------------SEC-BLOCK--------------*/

/*--------------THIRD-BLOCK--------------*/

.third-blocks {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    flex-wrap: wrap;
}

.info-block {
    height: 280px;
    width: 350px;
    /*border: 1px solid #000;*/
    /*border-radius: 20px;*/
    transition: 0.5s;

    padding-bottom: 40px;
}

.info-block img {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 20%;
    transition: 0.5s ease;
}

.info-block img:hover {
    filter: brightness(50%);
    transition: 0.5s ease;
}


.info-block .overlay {
    opacity: 0;
    text-align: center;
    font-weight: 600;
}

.info-block:hover .overlay {
    opacity: 1;
}

.info-block p {
    /*padding: 0 10%;*/
    color: #595959;
}

.info-block img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

/*--------------THIRD-BLOCK--------------*/

/*-----------FOURTH-BLOCK--------------*/

.text-info h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

.text-info {
    height: 30vh;
    padding: 0 10%;
}

/*-----------FOURTH-BLOCK----------------*/

.container-form {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.form-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    background-color: #fff;
    width: 80%;
    padding: 60px 60px 140px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    position: relative;

    border-radius: 20px;
}
.form-line {
    width: 100%;
    display: block;
    position: relative;
    transition: .3s all ease;
    padding-top: 10px;
}
.form-line + .form-line {
    margin-top: 30px;
}
.form-line label {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 14px;
    color: #ccc;
    transition: .3s all ease;
    z-index: 1;
}
.form-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px;
    font-size: 16px;
    color: #000;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
    transition: .3s all ease;
    width: 100%;
}
textarea.form-input {
    resize: vertical;
}

.form-input:focus {
    border-bottom-color: #000000;
}

.headline {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}
.headline span {
    position: relative;
    z-index: 2;
}

.form-button {
    border: none;
    outline: none;
    padding: 20px 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    background: #000000;
    display: block;
    transition: .3s all ease;
    position: absolute;
    bottom: 40px;
    letter-spacing: 2px;
}
.form-button:hover {
    background-color: #000000;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(72,72,72,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(72,72,72,0.1);
    box-shadow: 0px 10px 25px 0px rgba(72,72,72,0.1);
    transform: scale(1.05);
}

@media (max-width: 500px) {
    .form-container {
        width: 300px;
        padding: 30px 20px 100px;
    }
    .form-button {
        bottom: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .form-button:hover {
        bottom: 30px;
    }
}

/*---------ACCORDION---------------*/

.accordion {
    padding: 0 10%;
}

.acc-all {
    margin-top: 30px;
}

.content-acc {
    position: relative;
    margin: 10px 70px;

    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.5s;
}

.label-acc {
    position: relative;
    padding: 40px 40px;
    background: rgba(196, 196, 196, 0.2);
    font-weight: 400;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.label-acc button {
    outline: none;
    border: none;
    cursor: pointer;
}

.label-acc h3 {
    font-weight: 400;
    font-size: 20px;
}

.content-box.active .content-acc {
    height: 100%;
    margin: 40px 70px;
    transition: 0.5s;
}

.content-box {
    cursor: pointer;
    user-select: none;
}

/*--------MAP-----------*/

.map-block {
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
}

.text-part p {
    margin-top: 20px;
}

/*--------FOOTER-------*/

.footer-line {
    background-color: rgba(196, 196, 196, 0.2);
    height: 100px;
    padding: 0 10%;
}

.logo-footer img {
    width: 50%;
}

.footer-content {
    display: flex;
    padding-top: 23px;
    justify-content: space-between;
}

.number::before {
    width: 1px;
    height: 58px;
}

.number {
    margin-top: 15px;
}

.connect-btn {
    text-decoration: none;
}

.mikishlep {
    text-decoration: none;
    color: #000;
}